audioop-lts==0.2.1
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
colorama==0.4.6
et_xmlfile==2.0.0
idna==3.10
IMAPClient==3.0.1
instaloader==4.14.1
numpy==2.3.0
openpyxl==3.1.5
pandas==2.3.0
pillow==11.2.1
PyAudio==0.2.14
pyodbc==5.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==310
pyzmail36==1.0.5
reportlab==4.4.1
requests==2.32.4
six==1.17.0
SpeechRecognition==3.14.3
standard-aifc==3.13.0
standard-chunk==3.13.0
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
unicode==2.9
Unidecode==1.4.0
urllib3==2.4.0
